body{
    background-image: url(img/pexels-element5-1470171.jpg);
    background-color:#dbe7d2;
    background-size: cover;

    background-position-x: right;
}

.image{
    text-align: center;
    font-family: 'Antonio';
    height: 494px;
    background-color: rgba(252, 251, 251, 0.658);
}

.texto{
    text-align: center;
    width: 65%;
    font-family: 'Antonio';
}

.texto p{
    margin-top: 5%;
    font-family: 'Clear Sans';
}

.image img{
    height: 100%;
}