body{
    background-color:#dbe7d2;
    background-image: url(img/pexels-element5-1470171.jpg);
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.info{
    background-color: rgba(255, 255, 255, 0.555);
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    text-align: center;
}

.info .texto{
 
    font-family: 'Antonio';
}

.info .texto p{
    font-family: 'Clear Sans';
}

.info .image img{
    height: 700px;
}